.container {
  background-color: bisque;
}
.card {
  background-color: aquamarine;
}
#calmari2 {
  background-color: aquamarine;
  margin-bottom: 2%;
}
#pasta2 {
  background-color: aquamarine;
}
#flafel2 {
  background-color: aquamarine;
}
